/*
@media all and (max-width : 768px){
    #main-nav .toggle{
        display: block;
        background-color: #fff;
        padding: 0 55px;
        border-radius: 100px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    } 
    #main-nav  ul{
            display: none;
    }    
    #main-nav #drop:checked + ul{
        display: block;
    }
    #main-nav >ul > li{
        display: block;
        width: 100%;
        margin-right: 30px;
        text-align: right;
    }
}
.toggle{
    display: none;
}
#drop{
    display: none;
}
@media all and (max-width : 768px){
    main-header-content{
        padding: 10%;
        margin-right: 30;
    }
}

@media all and (max-width : 680px){
    h1{font-size: 3em}
    h2{font-size: 1.5em}
}


@media all and (max-width :1200px){
    .single-portfolio-items{
        width: 50%;
        }
    .single-portfolio-items:last-child{
        width: 100%;
    }
}

         
@media all and (max-width :768px){
    div#left{
        width: 100%;
        text-align: center;
    }
    div#form{
        width: 100%;
        text-align: center;
    }
    .single-portfolio-items{
        width: 100%;
    }
}
*/
