html{
    margin: -10px;
}
body{
    font-family: 'Lato', sans-serif;   
}
li{
    display: inline-block;
    margin: 20px;
    color: white;
}
#main-nav{
    position: absolute;
    right: 10px;
    top: 10px;
}
h1{ 
    color: white;
    margin: 0px;
    font-size: 120px;
    font-weight: 100;
}
h2{ 
    color: white;
    margin: 0px;
    font-size: 30px;
    font-weight: 300;
}

.green{
    color: limegreen;
    font-weight: 400;
}

#main-header{
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;  
}
.main-header-content{
    padding: 32vh;
    text-align: center;
}
h3{
   margin: 0;
    padding: 10px;
   text-align: center;
   font-size: 30px;
   font-weight: 300;
}
article#text1>img{
    float: left;
    width: 250px;
    margin-left: 190px;
}
#text-omnie{
    padding-left: 670px;
    padding-right: 100px;
    padding-bottom: 120px;
}
section#O-mnie{
    background-color: #f9fcfe;
}
article#text2{
    clear: both;
    text-align: center;
}
#moje-umiejetnosci{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
div#icon{
    padding: 50px;
    display: inline-block;
    
}
figure{
    display: inline-block;
}