html{
    margin: -10px;
}
body{
    font-family: 'Lato', sans-serif;   
}
li{
    display: inline-block;
    margin: 20px;
    color: white;
}
#main-nav{
    position: absolute;
    right: 3%;
    top: 0%;
}
h1{ 
    color: white;
    margin: 0px;
    font-size: 87px;
    font-weight: 100;
}
h2{ 
    color: white;
    margin: 0px;
    font-size: 30px;
    font-weight: 300;
}

.green{
    color: limegreen;
    font-weight: 400;
}

#main-header{
    background-image: url(../img/header-background.jpg);
    background-size: cover;
}
.main-header-content{
    padding: 32vh;
    text-align: center;
}
h3{
   margin: 0;
   padding-top: 1%;
   text-align: center;
   font-size: 30px;
   font-weight: 300;
}
article#text1>img{
    float: left;
    width: 23%;
    margin-left: 12%;
}
#text-omnie{
    padding-left: 50%;
    padding-right: 5%;
    padding-bottom: 16%;
}
section#O-mnie{
    background-color: #f9fcfe;
}
article#text2{
    text-align: center;
}
#moje-umiejetnosci{
    padding-left: 10%;
    padding-right: 10%;
}

figure{
    display: inline-block;
}

#icon{
    height: 183px;
}

.img-portfolio{
    text-align: center;
}


