html{
    margin: -10px;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
li{
    display: inline-block;
    margin: 20px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
li:hover{
    color: papayawhip;
    font-size: 18px;
}
#main-nav{
    position: absolute;
    right: 3%;
    top: 0%;
}
h1{ 
    color: white;
    margin: 0px;
    font-size: 87px;
    font-weight: 100;
}
h2{ 
    color: white;
    margin: 0px;
    font-size: 30px;
    font-weight: 300;
}
.green{
    color: limegreen;
    font-weight: 400;
}
#main-header{
    background-image: url(../img/header-background.jpg);
    background-size: cover;
}
.main-header-content{
    padding: 32vh;
    text-align: center;
}
h3{
   margin: 0px;
   padding-top: 1%;
   text-align: center;
   font-size: 30px;
   font-weight: 300;
}

article#text1>img{
    float: left;
    width: 23%;
    margin-left: 12%;
}

#text-omnie{
    padding-left: 50%;
    padding-right: 5%;
    padding-bottom: 16%;
}
section#about{
    background-color: #f9fcfe;
}
article#text2{
    text-align: center;
}
#moje-umiejetnosci{
    padding-left: 10%;
    padding-right: 10%;
}
figure{
    display: inline-block;
}
#icon{
    height: 183px;
}
#portfolio-item-1{
    background-image: url(../img/portfolio1.jpg)
}
#portfolio-item-2{
    background-image: url(../img/portfolio2.jpg)
}
#portfolio-item-3{
    background-image: url(../img/portfolio3.jpg)
}
.single-portfolio-items{
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 33.3333%;
    position: relative;
}
.portfolio-items{
    text-align: center;
    font-size: 0;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2%;
}
.single-portfolio-item-mask{
    background: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    font-size: initial;
}
.single-portfolio-item-mask:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out;
    color: white;
}
.single-portfolio-item-mask-content{
    border: 1px solid #fff;
    margin: 5px;
    height: 330px;
    position: relative;
}
.single-portfolio-item-mask-content-inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 5px;
    font-weight: 100;
}
#kont{
    background-color: #142634;
    color: white;
    padding: 0 80px;
    margin-top: 4%;
}
#kontakt{
    margin-top: 15%;
}
#left{
    text-align: left;
    margin-top: 3%;
}
i{
    margin: 5px;
}
/*form*/
form{
    padding-left: 50%;
    padding-top: 3%;
    padding-bottom: 3%;   
}
#left{
    float: left;  
}
input{
    background-color: #2b4a64;
    border: 0;
    width: 450px;
    margin: 5px;
    padding: 7px;
}
textarea{
    background-color: #2b4a64;
    width: 450px;
    border: 0;
    margin: 5px;
    padding: 7px;
}
input[type="submit"]{
    background-color: forestgreen;
    padding: 10px;
    width: 100px;
}
/*form*/
footer{
    background-color: #2b4a64;
    padding: 0 80px;
    color: white;
}
footer>p{
    margin: 0;
}
