html{
    margin: -10px;
}
body{
    font-family: 'Lato', sans-serif;   
}
li{
    display: inline-block;
    margin: 20px;
    color: white;
}
#main-nav{
    position: absolute;
    right: 3%;
    top: 0%;
}
h1{ 
    color: white;
    margin: 0px;
    font-size: 87px;
    font-weight: 100;
}
h2{ 
    color: white;
    margin: 0px;
    font-size: 30px;
    font-weight: 300;
}

.green{
    color: limegreen;
    font-weight: 400;
}

#main-header{
    background-image: url(../img/header-background.jpg);
    background-size: cover;
}
.main-header-content{
    padding: 32vh;
    text-align: center;
}
h3{
   margin: 0;
   padding-top: 1%;
   text-align: center;
   font-size: 30px;
   font-weight: 300;
}
article#text1>img{
    float: left;
    width: 23%;
    margin-left: 12%;
}
#text-omnie{
    padding-left: 50%;
    padding-right: 5%;
    padding-bottom: 16%;
}
section#O-mnie{
    background-color: #f9fcfe;
}
article#text2{
    text-align: center;
}
#moje-umiejetnosci{
    padding-left: 10%;
    padding-right: 10%;
}

figure{
    display: inline-block;
}

#icon{
    height: 183px;
}

#portfolio-item-1{
    background-image: url(../img/portfolio1.jpg)
}
#portfolio-item-2{
    background-image: url(../img/portfolio2.jpg)
}
#portfolio-item-3{
    background-image: url(../img/portfolio3.jpg)
}
.single-portfolio-items{
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 33.3333%;
    position: relative;
}
.portfolio-items{
    text-align: center;
    font-size: 0;
}
.single-portfolio-item-mask{
    background: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    font-size: initial;
}
.single-portfolio-item-mask:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.single-portfolio-item-mask-content{
    border: 1px solid #fff;
    margin: 10px;
    height: 330px;
    position: relative;
}
.single-portfolio-item-mask-content-inner{
    
}




footer{
    background-color: darkslategray;
    color: white;
}
.kontakt{
    text-align: left;
    margin-top: 5px;
    padding: 6px;
    padding-left: 6%;
    padding-bottom: 10px;
}